* {
	font-family: Arial, Helvetica, sans-serif;
	color: #121212;
}

.main-title {
	position: absolute;
	width: 0;
	height: 0;
	overflow: hidden;
}

.header {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	max-width: 1240px;
	margin: 0 auto;
	border-bottom: 2px solid rgba(0, 0, 0, .14);
}

@media screen and (max-device-width: 600px) {
	.header {
		flex-direction: column;
	}
}

.header__photo {
	border-radius: 50%;
}

@media screen and (max-device-width: 600px) {
	.header__photo {
		width: 150px;
		height: 150px;
	}
}

.header__name {
	font-size: 72px;
	font-weight: 700;
	color: rgba(0, 0, 0, .87);
}

@media screen and (max-device-width: 600px) {
	.header__name {
		font-size: 32px;
	}
}

.header__description {
	font-size: 22px;
	color: rgba(0, 0, 0, .6);
}

.header__info-wraper {
	display: flex;
	flex-direction: column;
	align-self: flex-start;
	margin-top: 16px;
}

@media screen and (max-device-width: 600px) {
	.header__info-wraper {
		margin-top: 0;
		align-self: center;
		text-align: center;
	}
}

.header__contacts-wrapper {
	margin-top: 15px;
}

.header__contacts-title {
	margin-bottom: 0px;
}

.header__contacts-list {
	margin-top: 5px;
	padding-left: 0;
	list-style-type: none;
}

.header__contacts-list li::before {
	color: green;
	content: "✔";
	margin-right: 5px;
}

.main {
	max-width: 980px;
	margin: 10px auto;
	display: flex;
	flex-direction: column;
}

.info-container {
	margin: 0 10px;
	display: flex;
	flex-direction: column;
}

.info-container__title {
	max-width: max-content;
	padding: 0 5px;
	margin-bottom: 15px;
	font-size: 35px;
	font-weight: 400;
	background-color: #121212;
	color: rgba(255, 255, 255, .87);
}

@media screen and (max-device-width: 600px) {
	.info-container__title {
		font-size: 25px;
	}
}

.info-container__content {
	text-align: justify;
	margin: 0;
	font-size: 24px;
}

@media screen and (max-device-width: 600px) {
	.info-container__content {
		font-size: 18px;
	}
}

.info-container__skills {
	font-size: 24px;
	margin: 0;
}

@media screen and (max-device-width: 600px) {
	.info-container__skills {
		font-size: 18px;
	}
}

.info-container__subtitle {
	font-size: 28px;
	color: rgba(0, 0, 0, .77);
	margin: 0;
}

@media screen and (max-device-width: 600px) {
	.info-container__subtitle {
		font-size: 22px;
	}
}

.info-container__examples {
	list-style-type: none;
	padding-left: 25px;
	margin-top: 10px;
	margin-bottom: 0;
	font-size: 24px;
}

@media screen and (max-device-width: 600px) {
	.info-container__examples {
		font-size: 18px;
	}
}

.info-container__examples li {
	margin: 5px 0;
}

.footer {
	max-width: 1240px;
	margin: 0 auto;
	border-top: 2px solid rgba(0, 0, 0, .14);
}

.horizontal-list {
	display: flex;
	flex-direction: row;
	list-style-type: none;
	padding-left: 0;
}

.horizontal-list__item {
	margin: 0 15px;
}

@media screen and (max-device-width: 600px) {
	.horizontal-list__item {
		margin: 0 7px;
	}
}

.horizontal-list__link {
	text-decoration: none;
}

.horizontal-list__image {
	height: 50px;
}

@media screen and (max-device-width: 600px) {
	.horizontal-list__image {
		height: 35px;
	}
}

.footer__year {
	text-align: right;
	width: 100%;
	align-self: flex-end;
}